/**
* Anax Flat theme.
*/

@import url(base.less);


@back-color: white;
@back-color-footer-headerlinks: lightgrey;
@link-hover: lightskyblue;

.site-footer {
    margin-bottom: 20px;
    padding-bottom: 2px;
}

.footer-column,
.site-footer,
.rm-desktop li a {
    background-color: @back-color-footer-headerlinks;
}

.rm-desktop li {
    background-color: @link-hover;
}

.article {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%
}

.selected a {
    color: @link-hover;
    text-decoration: underline;
    margin-left: 10px;
}

.author-byline {
    font-size: 18px;
    display: block;
    border: 1px solid black;
    width: 60%;
    height: auto;
}

.next-previous {
    padding-top: 10px;
    padding-bottom: 20px;
}

.blog-toc {
    float: right;
    width: 30%;
}

.blog-list {
    margin-left: 10%;
    float: left;
    width: 60%;
}

.blog {
    margin-left: 20%;
}
